In [1]:
import pandas as pd

In [7]:
df_muertes = pd.read_csv('../data/external/muertes-covid-por-pais.csv', sep=',')
df_muertes

,pais,fecha inicio,fecha fin,dias,semana,total muertes reportadas,total muertes reportadas por covid
0,Mexico,2014-12-29,2015-01-04,7,1,15101,0
1,Mexico,2015-01-05,2015-01-11,7,2,15449,0
2,Mexico,2015-01-12,2015-01-18,7,3,14820,0
3,Mexico,2015-01-19,2015-01-25,7,4,14172,0
4,Mexico,2015-01-26,2015-02-01,7,5,13628,0
...,...,...,...,...,...,...,...
1327,Brazil,2021-05-01,2021-05-31,31,5,178877,59010
1328,Brazil,2021-06-01,2021-06-30,30,6,178844,55275
1329,Brazil,2021-07-01,2021-07-31,31,7,162439,38304
1330,Brazil,2021-08-01,2021-08-31,31,8,149206,24043
1331,Brazil,2021-09-01,2021-09-30,30,9,129743,16336

In [6]:
df_poblacion = pd.read_csv('../data/external/poblacion-por-pais.csv', sep=',')
df_poblacion

       Pais  Poblacion
0    Mexico  130262220
1      Peru   33359415
2     Chile   19212362
3    Brazil  213993441
4  Colombia   51265841

In [8]:
df_muertes['total muertes reportadas por covid'].sum()

1225488

In [14]:
df_muertes_agg = df_muertes.groupby('pais')[['total muertes reportadas', 'total muertes reportadas por covid']].sum().reset_index()
df_muertes_agg

       pais  total muertes reportadas  total muertes reportadas por covid
0    Brazil                   9626721                              596749
1     Chile                    665527                               37669
2  Colombia                   1672460                              112826
3    Mexico                   5426848                              277814
4      Peru                    763704                              200430

In [15]:
df_muertes_agg.merge(df_poblacion, how='left', left_on='pais', right_on='Pais')

,pais,total muertes reportadas,total muertes reportadas por covid,Pais,Poblacion
0,Brazil,9626721,596749,Brazil,213993441
1,Chile,665527,37669,Chile,19212362
2,Colombia,1672460,112826,Colombia,51265841
3,Mexico,5426848,277814,Mexico,130262220
4,Peru,763704,200430,Peru,33359415