In [1]:
import pandas as pd

In [13]:
df_muertes_covid = pd.read_csv('../data/external/muertes-covid-por-pais.csv')
df_muertes_covid.shape

(1332, 7)

In [25]:
df_poblacion = pd.read_csv('../data/external/poblacion-por-pais.csv')
df_poblacion.head()

       Pais  Poblacion
0    Mexico  130262220
1      Peru   33359415
2     Chile   19212362
3    Brazil  213993441
4  Colombia   51265841

In [35]:
df_muertes_covid.head()

for column in df_muertes_covid.columns:
    print(column, len(df_muertes_covid[column].unique()))

pais 5
fecha inicio 428
fecha fin 428
dias 5
semana 53
total muertes reportadas 1180
total muertes reportadas por covid 332

In [16]:
df_muertes_covid['total muertes reportadas por covid'].sum()

1225488

In [42]:
df_muertes_covid_agg = df_muertes_covid.groupby('pais')[['total muertes reportadas', 'total muertes reportadas por covid']].sum().reset_index()
df_muertes_covid_agg

       pais  total muertes reportadas  total muertes reportadas por covid
0    Brazil                   9626721                              596749
1     Chile                    665527                               37669
2  Colombia                   1672460                              112826
3    Mexico                   5426848                              277814
4      Peru                    763704                              200430

In [43]:
print(len(df_muertes_covid_agg))
print(len(df_poblacion))
print(len(df_muertes_covid_agg.merge(df_poblacion, how='left', left_on='pais', right_on='Pais')))

df_muertes_covid_agg = df_muertes_covid_agg.merge(df_poblacion, how='left', left_on='pais', right_on='Pais').drop(columns=['pais'])
df_muertes_covid_agg.head()

5
5
5

,total muertes reportadas,total muertes reportadas por covid,Pais,Poblacion
0,9626721,596749,Brazil,213993441
1,665527,37669,Chile,19212362
2,1672460,112826,Colombia,51265841
3,5426848,277814,Mexico,130262220
4,763704,200430,Peru,33359415